@charset utf-8;
body {
font:12px/1.231 "SimSun","Arial Narrow","helvetica","clean","sans-serif";
margin:auto;

}





img {
-ms-interpolation-mode:bicubic;
}

label,button {
cursor:pointer;
_cursor:hand;
}

button {
overflow:visible;
}

abbr[title],acronym[title] {
border-bottom:1px dotted;
cursor:help;
}

input[type=hidden] {
display:none!important;
}

a {
color:#000;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

.fix {
zoom:1;
}

.fix:after {
content:"";
visibility:hidden;
display:block;
height:0;
clear:both;
}

.lPaddingLg {
padding-left:10px!important;
}

.hPaddingLg {
padding-left:10px!important;
padding-right:10px!important;
}

.vPaddingLg {
padding-top:10px!important;
padding-bottom:10px!important;
}

.tPaddingLg {
padding-top:10px!important;
}

.rPaddingLg {
padding-right:10px!important;
}

.bPaddingLg {
padding-bottom:10px!important;
}

.tMarginLg {
margin-top:10px!important;
}

.rMarginLg {
margin-right:10px!important;
}

.bMarginLg {
margin-bottom:10px!important;
}

.lMarginLg {
margin-left:10px!important;
}

.hMarginLg {
margin-left:10px!important;
margin-right:10px!important;
}

.vMarginLg {
margin-top:10px!important;
margin-bottom:10px!important;
}

html {
color:#000;
background:#FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;

}

table {
border-collapse:collapse;
border-spacing:0;
font-size:inherit;
font:100%;
}

fieldset,img {
border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:400;
}

li {
list-style:none;
}

caption,th {
text-align:left;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:400;
}

q: before,q: after {
content:'';
}

abbr,acronym {
border:0;
font-variant:normal;
}

sup {
vertical-align:text-top;
}

sub {
vertical-align:text-bottom;
}

input,textarea,select {
font-family:inherit;
font-weight:inherit;
font-size:100%;
}

legend {
color:#000;
}

select,input,button,textarea {
font:100% arial,helvetica,clean,sans-serif;
}

pre,code,kbd,samp,tt {
font-family:monospace;
line-height:100%;
}
/*login*/
.C-big{ width:100%; margin:0 auto; background-color:#073D73; overflow:hidden;}
#Log-Hd{ width:100%; background-color:#053462; height:115px; overflow:hidden;}
#Log-Hd .Logo{ width:1023px; margin:0 15%; overflow:hidden;}/* margin:0 auto; */
.Logo .P-IMG{ width:390px; height:86px; margin-top:10px; float:left; overflow:hidden;}
.Logo .P-Gy{ width:337px; height:106px; margin-top:2px; float:right; overflow:hidden;}
#Log-Con{ width:100%; margin:0 auto; background:#093E74 url(../images/Con-bg.jpg) no-repeat; height:629px; overflow:hidden;}
#Log-Con .User{ width:1023px; margin:0 10%; margin-top:184px; height:265px; position:relative; overflow:hidden;}
.User .Mar-T{ margin-top:30px;}
.User dl{ font-size:14px; margin-top:15px; width:100%; overflow:hidden;}
.User dt{ float:left; width:385px; line-height:28px; padding:1px 0px; height:28px; text-align:right; }
.User dd{ float:left; padding-left:15px; overflow:hidden;}
.User dd input{height:28px; line-height:28px; border:1px #ccc solid; border-top:1px #A9A9AA solid; border-bottom:1px #e5e5e5 solid; display:block; background-color:#F0F0F0;}
.w254{ width:250px; }
.w114{ width:113px;}
.User .code{ padding-left:10px;}
.code img{ margin-top:8px;}
.code a{margin-top:15px; color:#0059bd; font-size:12px; display:block;}
.User p a {
	cursor:pointer;
	height:52px;
	width:236px;
	left:800px;
	top:194px;
	border:none;
	position:absolute;
}/* left:570px; */
#Log-Ft{ width:100%; height:40px; background:url(../images/ft-bg.jpg) repeat-x; text-align:center;}
#Log-Ft p{ color:#666; line-height:40px;}




/*后台内页*/
.B-body{ width:100%; height:100%; margin:0 auto; overflow:auto;}
#Head{ width:100%; height:8%; background:url(../images/N-top.jpg) repeat-x; height:122px; overflow:hidden;}
.B-top{ width:1000px; margin:0 10%; background:url(../images/Hd-bg.jpg) no-repeat; height:122px; clear:both; zoom:1; overflow:hidden;}
.B-top .Lef{ width:392px; height:86px; float:left; margin-top:12px; overflow:hidden;}
.B-top .Ifo{ width:376px; float:right; overflow:hidden;}
.Ifo .Hy-ic{ width:376px; height:31px; background:url(../images/hy-bg.jpg) no-repeat; text-align:center; color:#333; line-height:30px; overflow:hidden;}
.Ifo .Date{ width:357px; margin-left:14px; margin-top:30px; background:url(../images/date.jpg) center center no-repeat; text-align:center; color:#fff; height:20px; line-height:20px;}
#B-cont{ width:100%;  height:75%;  background-color:#F0F0F0; clear:both; zoom:1; overflow:auto;}
.L-CON{ width:243px; float:left; padding:0px 10px 10px 0px; background:url(../images/N-l.jpg) repeat-y; overflow:visible;}



/*sanjixiala*/
.p{margin-left:10px;}
.ps{ padding:0px 6px; display:none;}
.ps-box{ border:1px #DEDEDE solid; width:224px; border-top:none; padding:3px 3px 8px 0px; background-color:#fff; margin-left:5px; display:none;}
.pss{margin-left:10px;display:block;}
.t{cursor:pointer;background:url() no-repeat;line-height:20px; padding-left:20px; height:20px;}
.f,.D{cursor:pointer; background:url(../images/Sec-bg.jpg) no-repeat;line-height:32px; padding-left:33px; width:240px; font-size:14px; height:42px; overflow:hidden;}
.D a{color:#5E80A7;}
.D{line-height:28px; width:209px; height:28px; margin-left:8px;}
.b{cursor:pointer;background:url(../images/ico080426_dot.gif) 5px 2px no-repeat;line-height:22px; padding-left:25px; height:22px; border-bottom:1px #000 dotted; margin-left:8px; width:174px;}
.fblod{font-weight:bold; font-size:14px; color:#fff;}
.fblod a{ color:#fff;}
.padtb8{ width:238px; border:1px #dcdcdc solid; padding-bottom:6px; border-top:none; background-color: #EFEFEF; margin-top:10px; overflow:hidden;}
.fontred{color:#f00;}
/*end*/


/* #right{height:100%;width:80%;position: relative;} */
/* .R-CON{overflow: visible;} */
/* 
.R-CON{width:70%}
 */
.R-Tit{ height:41px;   font-size:20px; color:#000; font-weight:bold;  line-height:40px; overflow:hidden;}
.R-CON table{ width:70%; margin-top:8px; table-layout:fixed;}
.R-CON td,.R-CON th{ border:1px #CDD1E0 solid; height:28px; line-height:28px; color:#000; text-align:center;}
.R-CON th{ background-color:#e8e8e8; font-weight:bold; font-size:14px; }
.page{ padding:20px; font-size:14px; text-align:center; }
.page span a{text-decoration:none; border:1px solid #cccccc; padding:2px 4px;}
.page .no-page a{ color:#ccc;}
.page span{  margin-right:5px;}
.page .Ora{ font-size:12px;}
.page .Ora font{ color:#c30;}
.page select{ margin:0 8px;}
.page span.on{ background:#666666; color:#fff; padding:2px 4px; border:1px solid #cccccc;}

#FOOT{ width:100%; margin:0 auto; background-color:#DBFAFC; border-top:3px #333 solid; height:36px; text-align:center; overflow:hidden; position: relative; top:0;}

#FOOT p{ color:#333; line-height:36px;}
